@model IEnumerable<Training>

<h1 class="bg-secondary rounded text-white text-center p-2 my-5">Trainings</h1>

<a class="btn btn-primary" asp-action="Create"><i class="fas fa-graduation-cap"></i> Add Training</a>

<table class="table table-bordered table-sm table-striped my-2">
    <thead class="thead-dark">
        <tr>
            <th>Trainee FirstName</th>
            <th>Trainee LastName</th>
            <th>Trainee Phone Number</th>
            <th>Trainee Email</th>
            <th>Trainee Dietary</th>
            <th>Trainee Company Name</th>
            <th>Trainee Physical Address</th>
            <th>Trainee Postal Address</th>
            <th>Trainee Course</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var t in Model)
            {
                <tr>
                    <td>@t.FirstName.</td>
                    <td>@t.LastName</td>
                    <td>@t.PhoneNumber</td>
                    <td>@t.Email</td>
                    <td>@t.Dietary</td>
                    <td>@t.CompanyName</td>
                    <td>@t.PhyAddress</td>
                    <td>@t.PostalAddress</td>
                    <td style="width:15%">
                        <a class="btn btn-warning btn-sm" asp-action="Edit"><i class="fas fa-user-edit"></i> Edit</a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete"><i class="fas fa-trash-alt"></i> Delete</a>
                    </td>
                </tr>
            }
    </tbody>
</table>


